<div class="intro" >
  <div *ngIf="creditStatus">
    <h3>Поздравляем вы можете получить кредит</h3>
    <p>Кредит — это система, при которой человек, который не может платить, дает другому человеку, который не может платить, гарантию, что тот может платить.
    </p><br><p>Генри Уилер Шоу</p>
  </div>
  <div *ngIf="!creditStatus">
    <h3>К сожалению вам кредит не одобрен</h3>
    <p>Наилучший способ добиться кредита — не пользоваться им.</p>
    <br><p>Приписывается Наполеону I</p>
  </div>
  </div>
